.Header{
    display: flex;
    width: calc(100vw - 0px);
    height: 60px;
    background-color: #246862;
    justify-content: space-around;
    gap: 10rem;
    color: #ffffff;
    padding: 0 3rem;
}

.HeaderImg{
    position: relative;
    top: 8px;
    width: 170px;
    height: 45px;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/titleLogo.png");
}

.HeaderContentWrap{
    display: flex;
    font-size: 22px;
    line-height: 62px;
}
.HeaderContentWrap a{
    width: 100%;
    padding: 0 50px;
}

.HeaderContentWrap a:hover{
    cursor: pointer;
    background-color: #1c504c;
}