.HeaderUp{
    width: 100vw;
    height: 4vh;
    background-color: #F8E9D4;
}

.Header{
    display: flex;
    width: calc(100vw - 0px);
    height: 7vh;
    background-color: #246862;
    justify-content: space-around;
    gap: 10rem;
    color: white;
    padding: 0 3rem;
}

.HeaderImg{
    width: 12rem;
    height: 6rem;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/titleLogo.png");
}

.HeaderContentWrap{
    display: flex;
    font-size: 1.7rem;
    line-height: 5.3rem;
}
.HeaderContentWrap div{
    width: 100%;
    padding: 0 3.1rem;
}

.HeaderContentWrap div:hover{
    cursor: pointer;
    background-color: #1c504c;
}