.MainArticle{
  margin: 75px 0 0 0;
  
  width: 100vw;
  height: 90vh;
  color: #246862;
}
.mainArticleWrap{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.mainTitle{
  padding: 20px 0;
  font-size: 70px;
  font-weight: bold;
}
.subTitle{
  font-size: 28px;
}
.mainImg{
  background-image: url("../assets/mainImg.png");
  background-size: cover;
  background-position: center;
  width: 470px;
  height: 550px;
  position: relative;
}
.startBtn{
  width: 240px;
  height: 60px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 55px;
  background-color: #246862;
  border: none;
  border-radius: 18px;
  color: white;
  margin: 40px 0;
}
.startBtn > a{
  padding: 12.5px 43.35px;
  height: 100%;
}
.startBtn:hover{
  cursor: pointer;
  background-color: #184542;
  transition-duration: 0.3s;
}